.root {
    display: flex;
  }
  
  .appBar {
    z-index: 1201;
  }
  
  .drawer {
    width: 240px;
    flex-shrink: 0;
  }
  
  .drawerPaper {
    width: 240px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .drawerContainer {
    overflow-y: auto;
  }
  
  .card {
    margin-bottom: 10px;
  }
  