
.Aucune {
text-align: 'center';
font-size: 87;
margin-top: 20;
color: rgba(255, 0, 0, 0.699);
}

.reserver{
        margin-left: 10px;
        padding: 8px 16px;
        background-color: transparent;
        cursor: pointer;
        margin-left: 10px;
        background-color: transparent;
        cursor: pointer;
        color: rgb(255, 0, 0); /* Change la couleur du texte des boutons */
        border: 2px solid white; /* Ajoute une bordure blanche aux boutons */
        border-radius: 8px; /* Arrondit les coins des boutons */
        transition: background-color 0.3s ease; 
        width: 100px;
}