

.card {
  width: 99%;
  height: 500px;
  margin-bottom: 20px;
  border: 1px solid #5600f5;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color:#5600f52a;
 
}

.Acceptation {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  left: 10px;
}

.Acceptation button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.Acceptation button.confirm {
  background-color: #4CAF50; /* Vert */
  color: white;
}

.Acceptation button.reject {
  background-color: #f44336; /* Rouge */
  color: white;
}
.jobs{
  background:linear-gradient(60deg, rgb(84, 58, 183) 0%, rgba(0, 172, 193, 1) 100%);
}
