

.card {
  width: 99%;
  height: 500px;
  margin-bottom: 20px;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background:linear-gradient(200deg, rgba(84, 58, 183, 1) 0%, rgb(0, 167, 189) 100%);
 
}
.card h2 {
  color: #333;
  font-size: 1.5em;
}

/* Style pour les paragraphes p */
.card p {
  margin-bottom: 10px;

}

/* Style pour les textes forts strong */
.card strong {
  color: #555;
  font-size: 20px;
  left: 0%;
  
}
.Acceptation {
  position: relative;
  display: flex;
  justify-content: flex-end;
  left: 10px;
  top: -40px;
}

.Acceptation button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.Acceptation button.confirm {
  background-color: #4CAF50; /* Vert */
  color: white;
}

.Acceptation button.reject {
  background-color: #f44336; /* Rouge */
  color: white;
}
.jobs{
  background:rgba(238, 238, 238, 0.298);}
/* Container pour les champs d'entrée et la zone de texte */
.card .input-container {
  display: flex;
  flex-direction: column; /* Affiche les éléments enfants en colonne */
}

/* Style pour les champs d'entrée */
.card input[type="text"],
.card textarea {
  width: 8%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour les étiquettes des champs */
.card label {
  margin-bottom: 1px;
  font-weight: bold;
}

/* Style pour les boutons de confirmation et de refus */
.card .confirm,
.card .reject {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.card .confirm {
  background-color: green;
}

.card .reject {
  background-color: red;
}
