.client-img {
  height: 500px;
  width: 800px;
}
.ouvrier-img {
  height: 500px;
  width: 800px;
}
/* Style pour le texte en gras */
strong {
  font-weight: bold;
  font-size: 50px; /* Taille de police agrandie */
  text-align: center; /* Centrage horizontal */
  position: relative;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: rgb(23, 23, 58); /* Couleur du texte */
}
.équipe
{ font-weight: bold;
  font-size: 20px; /* Taille de police agrandie */

  position: relative;
  top: 30%;
  left: 79%;
  transform: translate(-50%, -50%);
  color: rgb(37, 37, 54); /* Couleur du texte */}
  .intro{

  position: relative;
  top: 50px;
  left: 900px;
  transform: translate(-50%, -50%);
  color: rgb(37, 37, 54); /* Couleur du texte */}
 
/* Style pour le titre */
legend {
  font-weight: bold;
  font-size: 60px;
}

/* Style pour le texte normal */
p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
}


/* Style pour la table */
table {
  width: 8%;
  border:black;
  background-color: #6b7b9c;
  margin: 0 auto; 
}

/* Style pour les cellules de la table */
td {
  padding: 200px;
  vertical-align: top;
}
