
header {
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  

  .buttons {
    display: flex;
  }
  
  button {
    
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .buttons button {
    margin-left: 10px;
    padding: 10px 20px; /* Ajuste la taille des boutons */
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white; /* Change la couleur du texte des boutons */
    border: 2px solid white; /* Ajoute une bordure blanche aux boutons */
    border-radius: 8px; /* Arrondit les coins des boutons */
    transition: background-color 0.3s ease; /* Ajoute une transition pour une animation fluide */
  }

  .header-text {
    text-align: center;
    font-size: 50px;
    
  
  }


  .waves {
    position: relative;
    width: 100%;
    height: 1vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 200px;
  }
  
 /* Animation */
  
 .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  /* Shrinking for mobile */
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  
    .content {
      height: 30vh;
    }
  
  
  }





  .accueil-container {
    font-family: 'poppins', sans-serif;
  }
  

  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
 
    
  .header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: rgb(255, 255, 255);
  }
  
  .logo {
    width: 50px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height: 1vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
 
  .content {
    position: relative;
    height: 1vh;
    text-align: center;
    background-color: white;
  }
  
 
  /* Logo à gauche */
 
  .logo {
    width: 100px; /* Ajustez la taille du logo selon vos besoins */
  }
  
  /* Boutons à droite */
  .buttons {
    display: flex;
    align-items: center;
  }
  

  

  .rapide {
    color: rgb(2, 35, 100);
    /* Changez la couleur selon vos préférences */
  }