

.profil-ouvrier {
    display: flex;
    flex-direction: column;
    height: 70vh; 
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    background-size: cover; 
    background-position: center;
}


.main {
    display: flex;
    flex: 1; 
    padding: 20px;
}

.profil {
    width: 30%;
    padding: 20px;
    background-color: #ffffff52;
    border-radius: 2%;
    
    
}

.history {
    width: 70%;
    padding-left: 50px;
    background-color: #ffffff27;
    border-radius: 2%;
}
    
   .modifier {
    margin-left: 10px;
    padding: 10px 20px; 
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white; /* Change la couleur du texte des boutons */
    border: 2px solid white; /* Ajoute une bordure blanche aux boutons */
    border-radius: 8px; /* Arrondit les coins des boutons */
    transition: background-color 0.3s ease; /* Ajoute une transition pour une animation fluide */

  }
  .profil-info {
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff30;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-profil {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profil-info ul {
    list-style-type: none;
    padding-left: 0;
}

.profil-info ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
}

.profil-info ul li::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
    color: #555;
}

.profil-info ul li.Nom::before {
  display: inline;
    content: 'Nom:';
}

.profil-info ul li.Email::before {
    content: 'Email:';
}

.profil-info ul li.Adresse::before {
    content: 'Adresse:';
}

.profil-info ul li.Profession::before {
    content: 'Profession:';
}

.profil-info ul li.Téléphone::before {
    content: 'Numéro de téléphone:';
}




.profil-photo.placeholder {
  width: 1000px;
  height: 100px;
  background-color: #323131; /* couleur de fond gris clair */
  border-radius: 50%; /* pour un effet arrondi */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888; /* couleur de texte gris */
}
.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 999;
}
