

.profil-container {
    display: flex;
    flex-direction: column;
    height: 70vh; 
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: rgb(255, 255, 255);;
    background-size: cover; /* Pour couvrir toute la surface */
    background-position: center;
}


.main {
    display: flex;
    flex: 1; 
    padding: 20px;
}

.profil {
    width: 30%;
    padding: 20px;
    background-color: #ffffff52;
    border-radius: 2%;
    
    
}

.history {
    width: 70%;
    padding-left: 50px;
    background-color: #ffffff27;
    border-radius: 2%;
}
    
   .modifier {
    margin-left: 10px;
    padding: 10px 20px; /* Ajuste la taille des boutons */
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white; /* Change la couleur du texte des boutons */
    border: 2px solid white; /* Ajoute une bordure blanche aux boutons */
    border-radius: 8px; /* Arrondit les coins des boutons */
    transition: background-color 0.3s ease; /* Ajoute une transition pour une animation fluide */
  }
  .profil-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
  
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-info p {
    margin-bottom: 10px;
  }
  .profil-info ul {
    list-style-type: none;
    padding: 0;
}

.profil-info li {
    margin-bottom: 10px;
}

.modifier {
  background-color: #066edd00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: white;
  margin-top: 20px; /* espace supplémentaire au-dessus du bouton */
}
.profil-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profil-photo.placeholder {
  width: 100px;
  height: 100px;
  background-color: #e0e0e0; /* couleur de fond gris clair */
  border-radius: 50%; /* pour un effet arrondi */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #888; /* couleur de texte gris */
}
.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 999;
}
