

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color:white;
}

.MDPoubliee {
    position: relative;
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la div */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    /* Vous pouvez également ajouter d'autres styles comme la largeur et la hauteur */
    width: 100%; /* Par exemple, 100% de la largeur parente */
    height: auto; /* Par exemple, une hauteur fixe de 500 pixels */
    
}

.md {
    
   width: 600px; /* Largeur du formulaire */
   height: 60vh;
   top: 90px;
   background-color: rgba(37, 37, 37, 0.904) ;
   border-radius: 80px;
   box-shadow:      rgb(65, 74, 167) , 
                    rgb(65, 74, 167);
 }
 
input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #fff8f82d;
    font-size: 16px;
}

.footer-container {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
    padding: 10px 10px; 
    top: 100%;
    
  }
