

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.reset {
    
   width: 1000px; /* Largeur du formulaire */
   height: 80vh;
   background-color: rgba(95, 105, 215, 0.685) ;
   border-radius: 20px;
   box-shadow:      rgb(65, 74, 167) , 
                    rgb(65, 74, 167);
 }
 
input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}


