





.nav-container {
  
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 100%;
}

.client,
.ouvrier {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.client img,
.ouvrier img {
  width: 600px; /* Taille ajustée */
  height: auto; /* Pour maintenir le rapport hauteur/largeur */
  margin-bottom: 10px;
  border-radius: 40px;
}



.cher-client,
.cher-ouvrier {
  margin: 0 40px;
  padding: 10px 20px; /* Ajuste la taille des boutons */
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(255, 255, 255); /* Change la couleur du texte des boutons */
  border: 2px solid  rgb(0, 69, 206); /* Ajoute une bordure blanche aux boutons */
  background-color: rgb(2, 35, 100);
  border-radius: 8px; /* Arrondit les coins des boutons */
  transition: background-color 0.3s ease; /* Ajoute une transition pour une animation fluide */
  
  
}




.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.buttons button {
  margin-left: 10px;
} 





.additional-text {
  font-weight: bold;
  font-size: 24px; /* Ajustez la taille selon vos préférences */
}

.client img:hover,
.ouvrier img:hover {
  transform: scale(1.1); /* Augmenter la taille de l'image lors du survol */
}
.image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.image-card {
  text-align: center;
}

.image-card img {
  width: 100px; /* Ajustez la taille des images selon vos besoins */
}

.image-card p {
  font-size: 14px;
}
.phrases-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
  
}

.phrase-card {
  text-align: center;
 
}

.phrase-card p {
  font-size: 22px;
}
.phrase-card img {
  width: 100px; /* Ajustez la largeur des images selon vos besoins */
  height: auto; /* Pour maintenir le rapport hauteur/largeur */
  margin-bottom: 10px; /* Espacement en dessous des images */
}
.phrase-card img {
  transition: transform 0.3s ease;
}

.phrase-card img:hover,
.phrase-card img:active {
  transform: scale(1.1);
}
.phrase-card img {
  transition: transform 0.3s ease;
  
}

.phrase-card img:hover,
.phrase-card img:active {
  transform: rotate(360deg);
}
.phrase-card p {
  color: rgb(2, 35, 100); /* Changez la couleur selon vos préférences */
}
.client,
.ouvrier {
  margin-bottom: 20px; /* Ajoute de l'espace en bas des images de client et d'ouvrier */
}

.phrase-card {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de chaque groupe d'image et de texte */
}